extends layout
block content
  if results
    for item in results
      h1= item.productName
      h5= 'ID: ' + item.productID
      h5= '$: ' + item.price
      img(src=item.productImage)
  else
    h1=title
    ul
      li
        a(href="/products/?prodID=P_T20M200A") Heart Stone Bouquet
      li
        a(href="/products/?prodID=P_T20S100A") Marvelous Mosaic Bouquet
      li
        a(href="/products/?prodID=P_TEV56-5A") Playful Daisy Bouquet

    br
    body
      form(action='/products/', method='get')
        p
          | Enter Product ID:
          input(type='text', name='prodID', value='')
        input(type='submit', value='Submit')